.article-toc {

    font-size: 0.9rem;
    position: fixed;
    width: 20rem;
    top: 10rem;
    left: 4rem;
    border: 2px solid rgba(var(--text), 0.2);
    background-color: rgba(var(--surface0), 0.5);
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.4s ease;

    .article-toc-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;

    }
}

@media only screen and (max-width: 1700px) {
    .article-toc {
        width: 100%;
        position: unset;
    }
}
