.code-block {

    background-color: rgba(var(--surface0), 0.5);
    border: 2px solid rgba(var(--text), 0.2);
    border-radius: 1rem;
    padding: 1rem 4rem 1rem 1rem;
    font-weight: 600;
    width: min-content;
    position: relative;
    transition: all 0.4s;

}

.code-block:hover {

    background-color: rgba(var(--primary), 0.5);

    .copy-button {
        opacity: 1;
    }
}


