blockquote {

    background-color: rgba(var(--surface0), 0.5);
    border-left: 3px solid rgba(var(--primary), 0.5);
    border-radius: 1rem;
    padding: 1rem;
    font-weight: 600;
    position: relative;

}
