.card {
  width: 21.6rem;
  height: min-content;
  border-radius: 1rem;
  border: 1px solid rgba(var(--surface-2), 0.2);
  background-color: rgba(var(--surface-2), 0.5);
  padding: 10rem 1rem 2.5rem 1rem;
  position: relative;
  transition: all 0.3s;

  .chip {
    position: absolute;
    z-index: 1;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--surface-2), 0.5);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(var(--surface-2), 0.2);
    border-radius: 1rem;
    padding: 0.2rem;
  }

  .tags {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 40%;
    justify-content: flex-end;

    .tag {
      font-size: 0.7rem;
      color: rgb(var(--text));
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
      background-color: rgba(var(--accent-main), 0.5);
      backdrop-filter: blur(6px);
      border: 1px solid rgba(var(--accent-main), 0.2);
      border-radius: 1rem;
      padding: 0.2rem;
    }

  }

  .author {
    top: 8rem;
    left: 0.5rem;
    font-size: 0.9rem;
  }

  .date {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    font-size: 0.9rem;
  }

  .title {
    color: rgb(var(--accent-main));
  }

  .thumbnail {
    z-index: 1;
    width: 100%;
    height: 10rem !important;
    border-radius: 1rem 1rem 0 0;
  }

  .url {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    border: 1px solid rgba(var(--accent-main), 0.2);
    border-radius: 10rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-in-out;
  }
}

.card:hover {
  border: 1px solid rgba(var(--accent-main), 1);
  .url{
    background-color: rgba(var(--accent-main), 0.5);
    color: rgb(var(--base));
    &::after {
      display: none;
    }
  }

}

