.settings-menu {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.setting {
  background: rgba(var(--accent-main), 0.2);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  transition: all 0.3s;
  position: relative;
}

.setting:hover::before {
  content: attr(data-tooltip);
  font-size: var(--font);
  background: rgba(var(--accent-main), 0.2);
  backdrop-filter: blur(10px);
  width: max-content;
  line-height: 1rem;
  padding: 1rem;
  position: absolute;
  top: -105%;
  right: 80%;
  z-index: 99;
  color: rgb(var(--text));
  border-radius: 100rem 100rem 0 100rem;
}

.large-font {
  font-size: 1.5rem;
}
