.markdown {
    border: 2px solid rgba(var(--text), 0);
    background-color: rgba(var(--base), 0);
    border-radius: 1rem;
    padding: 4rem;
    transition: all 0.4s ease;
}

.article-meta {

    display: flex;
    justify-content: space-between;
    align-items: end;
    border-left: 5px solid rgba(var(--text), 1);

    .article-title {

        font-size: 2rem;
        margin: 0;
        padding: 0 2rem;

        .article-details {

            display: flex;
            gap: 1rem;
            font-size: 0.8rem;
            align-items: center;
            justify-content: start;
            margin: 0;

        }

        * {

            margin: 0;

        }
    }

    .article-tags {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: right;
        max-width: 20rem;

        .article-tag {

            display: flex;
            flex-direction: row;
            gap: 0.1rem;
            padding: 0 0.5rem;
            margin: 0.5rem;
            justify-content: center;
            align-items: center;
            background-color: rgba(var(--primary), 0.2);
            border: 2px solid rgba(var(--text), 0.2);
            border-radius: 1rem;

        }
    }
}

.article-divider {

    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 100%;

}


.article-settings {

    position: fixed;
    width: 20rem;
    top: 10rem;
    right: 4rem;
    border: 2px solid rgba(var(--text), 0.2);
    background-color: rgba(var(--surface0), 0.5);
    border-radius: 1rem;
    padding: 1rem;
    opacity: 1;
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    .article-settings-header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;

    }

}


.settings-font-large {

    font-size: 1.2rem;

}

.settings-font-small {

    font-size: 0.7rem;

}

.settings-solid {

    border: 2px solid rgba(var(--text), 0.2);
    background-color: rgba(var(--base), 1);
    border-radius: 1rem;
    padding: 4rem;

}

@media only screen and (max-width: 1700px) {

    .article-settings {

        position: unset;
        margin-bottom: 1rem;
        width: 100%;

    }

}

