.code-insert {

    background-color: rgba(var(--surface0), 0.5);
    border: 2px solid rgba(var(--text), 0.2);
    border-radius: 0.5rem;
    color: rgb(var(--text));
    padding: 0.2rem;
    position: relative;
    transition: all 0.4s;

}

.code-insert:hover {

    background-color: rgba(var(--primary), 0.5);
    opacity: 1;

    .copy-button {
        opacity: 1;
    }
}
