.header {
    position: fixed;
    top: 1rem;
    margin: 0 1rem 2rem;
    height: 6rem;
    border: 2px solid rgba(var(--text), 0.2);
    border-radius: 1rem;
    background-color: rgba(var(--primary), 0.5);
    backdrop-filter: blur(10px);
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    align-items: center;
    justify-items: end;
    z-index: 100000;
    transition: all 0.25s ease-in-out;

    div {
        margin: 0 2rem;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: rgb(var(--text));
        margin-left: 1rem;
    }

    .logo > svg {
        width: 64px;
        height: 64px;
        transition: all 0.25s ease-in-out;
    }

    .logo-text {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        gap: 0.2rem;

        small {
            height: 1rem;
        }
    }

    .settings {
        display: flex;
        font-size: 2rem;
        transition: all 0.25s ease-in-out;
    }

    .button {
        font-size: 1.5rem;
        border-radius: 2rem;
        padding: 0.5rem;
        transition: all 0.25s ease-in-out;
    }

    .button:hover {
        background-color: rgba(var(--primary), 0.5);
    }
}

.scroll {
    font-size: 0.5rem;
    position: absolute;
    bottom: calc(-100svh + 10rem);
    right: 1rem;
    background-color: rgba(var(--surface0), 0.8);
    border: 2px solid rgba(var(--text), 0.2);
    backdrop-filter: blur(10px);
}

.header-scrolled {
    height: 3rem;
    font-size: 0.5rem;

    .logo > svg {
        width: 1.5rem;
        height: 1.5rem;
    }

    .logo-text {
        gap: 0;
    }

    .logo-text > small {
        height: 0.2rem;
    }

    .theme-switcher {
        font-size: 1.5rem;
    }
}
