.footer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  margin-top: 2rem;
  background-color: rgba(var(--accent-main), 0.3);
  border-radius: 0.5rem 0.5rem 0 0;
  border: 1px solid rgba(var(--accent-main), 0.2);

  .footer-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }

  .footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.6rem;

    .credits-small {
      display: none;
    }
  }

  .footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;

    .footer-link-title {
      font-size: 1.2rem;
      font-weight: 700;
    }

    & > a > svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

@media (max-width: 424px) {
  .footer-link-title {
    display: none;
  }

  .footer {
    .footer-center {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    .footer-center {
      display: none;
    }
  }
}

