.image {

    display: flex;
    flex-direction: column;

    .image-thumbnail {

        border: 2px solid rgba(var(--text), 0.2);
        border-radius: 1rem;
        width: calc(100% - 10rem);

    }

    .image-title {
        
        background-color: rgba(var(--primary), 0.2);
        text-align: center;
        font-weight: bold;
        font-style: italic;
        border-bottom: 2px solid rgba(var(--text), 0.2);
        border-left: 2px solid rgba(var(--text), 0.2);
        border-right: 2px solid rgba(var(--text), 0.2);
        border-radius: 1rem;
        width: calc(100% - 10rem);
        margin: -2rem 0 0 0;
        padding: 3rem 0 1rem;
        z-index: -1;

    }
}
