.scroll-button {
  margin: 1rem;
  background: rgba(var(--accent-main), 0.2);
  width: 3rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 100rem;
  display: flex;
  opacity: 0;
  transition: all 0.3s;
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  z-index: 100;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.scroll-button:hover {
  background: rgba(var(--accent-main), 0.8);
  color: rgb(var(--base));
}

@media screen and (max-height: 916px ),(max-width: 916px ) {
  .scroll-button {
    right: 1rem;
    bottom: 6rem;
  }
}